/*******************************
GENERAL
********************************/

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
}



#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;

}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}



/*******************************
HEADING
********************************/



#logo {
    text-align: center;
    margin: 0;
}

header {
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;

}

/*******************************
HEADING
********************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/*******************************
PAGE PORTFOLIO
********************************/
#gallery {
    margin: 0;
    list-style: none;
    padding-top: 20vh;
    display: flex;
    flex-wrap: wrap;
}

#gallery li {

    width: 45%;
    background-color: #b2d4e1;
    color: #b2d4e1;
    margin: 2.5%;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: .75em;
    color: hsl(0, 2%, 25%);
}



/*******************************
FOOTER
********************************/

footer {
    font-size: 0.75em;
    text-align: center;
    /* The clear property specifies whether an element can be adjacent to floated elements or if it should be moved down and "clear" any floated elements. */
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0
}

/*******************************
PAGE: CONTACT
********************************/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a {
    /* .. moves from css folder to root directory, then enters into img folder, then accesses phone.png */
    background-image: url('../img/phone.png');
}

.contact-info li.mail a {
    /* .. moves from css folder to root directory, then enters into img folder, then accesses phone.png */
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    /* .. moves from css folder to root directory, then enters into img folder, then accesses phone.png */
    background-image: url('../img/twitter.png');
}

/*******************************
COLORS
********************************/

.social_media {
    list-style: none;

}

.profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 10%;

}


/*******************************
COLORS
********************************/
body {
    background-color: #fff;
    color: #999;

}

/* green header */
header {
    background: #309cc5;
    border-color: #309cc5;
    display: flex;
}

h1 {
    margin: 15px 0;
    font-size: 1.75em;
    letter-spacing: 2px;
    font-weight: normal;
    line-height: 1.5em;
}

h2 {

    margin: -5px 0 0;
    font-weight: normal;
}


/* This will select multiple elements to give them same style */
h1,
h2 {
    color: #fff;
}

/* links */
a {
    color: #0696cd;
}

/* nav background on mobile */
nav {
    background: #037e95;
}

/* selected nav link */
nav a,
nav a:visited {
    color: #fff;
}

nav a.selected,
nav a:hover {
    color: #ffc535;
}

a:hover {
    color: #ffc535;
}