@media screen and (min-width: 480px) {

  /**********************************
    TWO COLUMN LAYOUT
    ***********************************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  header {
    flex-wrap: wrap;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  #logo {
    margin: 0 auto;
  }

  #gallery li {
    flex: 1 40%;
  }

  section {
    flex-wrap: wrap;
    display: flex;
    margin-top: 25vh;
  }

  .contact {

    display: flex;
    margin-top: 25vh;
  }





  /**********************************
    PAGE: PORTFOLIO
    ***********************************/


  /**********************************
    PAGE: ABOUT
    ***********************************/

  .profile-photo {
    margin: 0 5%;
  }

}

@media screen and (min-width: 892px) {

  /**********************************
    HEADER
    ***********************************/

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }



  nav {
    background: none;
    margin-right: 5%;
    font-size: 1.125em;
  }

  #logo {
    margin-left: 5%;
    text-align: left;

  }

  #gallery li {
    flex: 1 23%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #ffc535;
    margin-bottom: 60px;
  }


  /* About Page sectioning */



  .profile-photo {
    flex: 1;
  }

  .group {

    flex: 2;

  }

  .group-2 {
    flex-grow: 1;
  }


  /* Contact Page */
  .col-1 {
    flex: 1 60%;
  }

  .col-2 {
    flex: 1 40%;
  }



}

@media screen and (max-width: 891px) {
  nav {
    flex-grow: 1;
  }

  .profile-photo {
    margin: 0 auto;

    margin-bottom: 5%;
    width: 100%;
  }

}

@media screen and (max-width: 620px) {
  #gallery li {
    flex-grow: 1;
    flex: 1 500px;
  }


}